#portfolio {
  width: 50%;
  position:relative;
  text-align: center;
  transition: .6s;
  animation:animatefolio 1s
}
  @keyframes animatefolio{
  from{opacity:0; width: 70%} 
  to{opacity:1; width: 50%}
}

#portfolio a {
  text-decoration: none !important
}

#portfolio a p{
  text-align: left;
}

.card-title {
  text-align: center
}

.folioCard div{
  width: 400px;
  margin: auto
}

@media only screen and (max-width: 780px) {
  #portfolio {
    width: auto
  }
  .folioCard div{
    width: 250px;
  }
}