#about {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  animation:animateabout 0.4s
}
  @keyframes animateabout{
  from{right:-300px;opacity:0} 
  to{right:0;opacity:1}
}