#tech {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: .4s;
  animation:animateportfolio 0.4s
}

@keyframes animateportfolio{
  from{opacity:0} 
  to{opacity:1}
}
 
.slide {
  height: 400px;
}

ul {
  list-style: none;
  padding-left: 15px;
}
