#tech {
  width: 50%;
  text-align: center;
  transition: .6s;
  animation:animatetech 1.4s
}

@keyframes animatetech{
  from{opacity:0} 
  to{opacity:1}
}

.lists {
  margin: 40px auto 0 auto
}

.lists h3 {
  margin-bottom: 40px
} 

.slide {
  height: 400px;
}

ul {
  text-align: left;
  margin-left: 25%
}

.lists li {
  margin-left: 35px
}

.control-dots {
  display: none
}

@media only screen and (max-width: 780px) {
  #tech {
    width: 90%;
  }
  .slide {
    height: 300px;
  }
  ul {
    margin: 10%
  }
}

@media only screen and (max-height: 780px) {
  #tech {
    width: 90%;
  }
  #tech .slide {
    height: 250px;
    width: 400px;
  }
}