#tech {
  width: 30%;
  text-align: center;
  transition: .6s;
  animation:animateportfolio 1.4s
}

@keyframes animateportfolio{
  from{opacity:0} 
  to{opacity:1}
}
 
.slide {
  height: 400px;
}

ul {
  text-align: left
}

.lists li {
  margin-left: 35px
}

.control-dots {
  padding-left: 0
}

@media only screen and (max-width: 780px) {
  #tech {
    width: 90%;
  }
  .slide {
    height: 300px;
  }
}

@media only screen and (max-height: 780px) {
  #tech {
    width: 90%;
  }
  .slide {
    height: 250px;
    width: 400px;
  }
  .control-dots {
    display: none
  }
}