.content {
  text-align: left;
  width: 75vw;
  margin: auto;
  margin-top: 20vh;
}

@media only screen and (max-width: 780px) {
  .content {
    margin-top: 15vh;
    width: auto
  }
}

@media only screen and (max-height: 400px) {
  .content {
    margin-top: 1vh
  }
}