#contact {
  width: 500px;
  position:relative;
  animation:animatecontact 1s
}
  @keyframes animatecontact{
  from{opacity:0} 
  to{opacity:1}
}

#contact-form {
  display: grid;
  /* grid-row-gap: 1em; */
  grid-template-columns: auto;
}

#submitbtn {
  background-color: white;

}

input {
  margin-bottom: 10px
}

textarea {
  height: 90px;
  margin-bottom: 20px
}

@media only screen and (max-width: 780px) {
  #contact {
    width: 80vw;
  }
}