#nextbtn {
  background-color: white;
  border: none;
  color: white;
  position: relative;
  top: 10%;
  width: 7rem;
  /* width: 12vw; */
  width: clamp(5.5rem, 12vw, 6rem);
  height: 7rem;
  /* height: 12vw; */
  height: clamp(5.5rem, 12vw, 6rem);
  padding: 2rem;
  padding: clamp(1rem, 12vw, 2rem);;
  transform: rotate(90deg);
  border-radius: 50%;
  /* box-shadow: inset 0 0 5px 5px black; */
}

#nextbtn svg {
  box-shadow: 0 0 50px 15px white;
  position: relative;
  bottom: 12%;

  fill: black;
  /* background-color: rgba(255, 255, 255, 1); */
}